
.sidebar-gallery {

  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../img/light-blue.jpg");
  // background-color: rgba(89, 183, 193, 1);
  margin-bottom: 2rem;

  @media screen and (min-width: $tablet-min) and (max-width: $tablet-max){
      height: 20vh;
  }
  @media screen and (max-width: $mobile-max) {
      height: 15vh;
  }
}
.gallery-item{
  margin-top: 2rem;
}
