.party-banner {
  background-color: $ndp;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  // opacity: 0.9;
  .p-logo{
    width: 20%;
    padding:1rem;
  }
  .party-leader{
    width: 35%;

    // float:right;
  }
  h1{
    font-size: 4rem;
  }

}
.party-info {
  background-color: white;
  // opacity: 0.9;
  padding: 4rem;
  h1{
    color: $dark-grey;
  }
}
.party-history{
  background-color: $dark-grey;
  height:15rem;
  overflow: auto;
}
