.sidebar-packages {

  background-image: url("../img/light-blue.jpg");


}
.packages-item {
  margin-top: 2rem;
  border: 0.1rem solid $light-grey;



}
.package-div {
  background-color: rgba(44, 49, 58, 1.0);
}
