
.sidebar-rooms {

  background-image: url("../img/lemon.jpg");
}

.banner {
  overflow: hidden;
  width:100%;
  // margin-left: -2rem;
  img{
    height: 60vh;
    width:100%;
  }
}

.room {

  margin: 2rem auto;
}
 .room-img {
   border: 0.1rem solid $mid-grey;
 }
